@model IEnumerable<PictureTagger.Models.ViewModels.TagView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TagLabel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TagLabel)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.TagID })
        </td>
    </tr>
}
</table>