$primary: #3bba71;

html {
	height: 100%;
}

body {
	background: linear-gradient(#4f5ba5, #428ca6) no-repeat fixed;
	position: relative;
	min-height: 100%;
	font-family: 'Segoe UI', sans-serif;

	&::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: transparent url(Images/axiom-pattern.png) repeat;
		mix-blend-mode: overlay;
		z-index: -1;
	}
}

h1 {
	font-weight: 300;
	margin: 0;
}

h2, h3 {
	margin-top: 0;
}

.jumbotron {
	background: transparent;
	color: #fff;
	text-align: center;

	h1 {
		margin: 8vh 0;
		text-shadow: 0 2px 5px rgba(0,0,0,0.5);
	}
}

.btn {
	border-radius: 0;
}

.btn-primary {
	background: $primary;

	&:hover {
		background: darken($primary, 5%) !important;
	}

	&:active, &:focus {
		background: darken($primary, 10%) !important;
	}
}

.help-page, main {
	background: #eee;
	margin: 20px 0;
	padding: 20px;
	box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
}

img.full-loadable {
	max-width: 200px;
	height: 200px;
}